<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom User</title>
  </head>
  <body>
    {{ request.user.username }} {{ request.user.display_name}} {{ output }}
    <div>
      {% if request.user.is_authenticated %}
      <button>
        <a href="/logout/">Log Out</a>
      </button>
      {% else %}
      <button>
        <a href="/login/">Log In</a>
      </button>
      <button>
        <a href="/signup/">Sign Up</a>
      </button>
      {% endif %}
    </div>
  </body>
</html>
