<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom User</title>
  </head>
  <body>
    <div><h2>Username: {{ request.user.username }}</h2></div>
    <div><h3>Display Name: {{ request.user.display_name}}</h3></div>
    <div><h4>Output of settings.AUTH_USER_MODEL: {{ output }}</h4></div>

    <div>
      {% if request.user.is_authenticated %}
      <div>
        {% if not request.user.age %}
        <p>We wish you had chosen to tell us how old you are :(</p>
        {% elif request.user.age > 21 %}
        <p>PS: You are over 21! Have a cocktail!</p>
        {% elif request.user.age == 21 %}
        <p>
          PS: You are 21 -- congratulations, you can now legally drink alcohol!
        </p>
        {% else %}
        <p>Put down that drink! You are under 21!</p>
        {% endif %}
      </div>
      <button>
        <a href="/logout/">Log Out</a>
      </button>
      {% else %}
      <button>
        <a href="/login/">Log In</a>
      </button>
      <button>
        <a href="/signup/">Sign Up</a>
      </button>
      {% endif %}
    </div>
  </body>
</html>
